*, *:before, *:after {
	box-sizing: border-box;
}
body {
	margin: 0;
    font-family: 'HelveticaNeueRegularCondensed';
}
.center {
	width: 80%;
	margin: 0 auto;
}
.top-line {
	display: flex;
	justify-content: space-between;
}
.top-line .nav-menu {
	
}
.nav-menu .nav-list {
	display: flex;
	list-style-type: none;
	margin: 0;
}
.nav-menu .nav-list li {
	padding-top: 30px;
	padding-bottom: 25px;
}
.nav-menu .nav-list li a {
	font-size: 18px;
	color: #626262;
	text-decoration: none;
	padding: 0 25px;
	padding-top: 30px;
	padding-bottom: 25px;
}
.nav-menu .nav-list li a:hover {
	color: #fff;
}
.nav-menu .nav-list li:hover {
	background-color: #cf1a2b;
}
.top-line .logo {
	margin-top: 25px;
}
.shop-box {
margin-top: 25px;
}
.shop-box .price {
	color: #b2b2b2;
	font-size: 24px;
	margin-left: 5px;
	margin-right: 10px;
}
.top-line .sf-menu li {
	background: none;
	padding: 0;
}

.sf-menu .sf-logo {
	padding: 20px 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.sf-menu .sf-img {
	text-align: center;
	padding: 50px 0;
}
.sf-menu .sf-first {
	width: 220px;
	height: 300px;
    background-color: #cf1a2b;
    border-right: 1px solid #fff;
}
.sf-menu .sf-second {
	background-color: #cf1a2b;
	height: 300px;
	border-top: 1px solid #fff;
	padding: 15px 0;
	margin-left: 1px;
}
.sf-menu .sf-second li a {
	padding: 7px 0;
	border: none;
	font-size: 16px;
	color: #fff;
	padding-left: 40px;
	font-family: 'HelveticaCyr-Upright', sans-serif;
}
.sf-menu .sf-second li a:hover {
	color: #b2b2b2;
}
.sf-menu .sf-third {
    background-color: #cf1a2b;
	height: 300px;
	border-top: 1px solid #fff;
	padding: 15px 0;
	margin-left: 193px;
    border-left: 1px solid #fff;

}
.sf-menu .sf-third li a {
	padding: 7px 0;
	border: none;
	font-size: 16px;
	color: #fff;
	padding-left: 40px;
	font-family: 'HelveticaCyr-Upright', sans-serif;
}
.sf-menu .sf-third li a:hover {
	color: #b2b2b2;
}
.main-header {
	text-align: center;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
}


.main-header .main-box {
	position: relative;
	z-index: 2;
	padding-top: 25%;
	padding-bottom: 15%;
}
.main-header .main-box span {
	font-size: 22px;
	color: #fff;
	font-family: 'HelveticaNeueRegularCondensed';
	text-transform: uppercase;
	letter-spacing: 10px;
}
.main-header .main-box h1 {
	font-size: 116px;
	font-family: 'HelveticaNeueBoldCondensed';
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}
.color-wrap {
	background-color: rgba(6, 181, 169, .3);
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
}
.banners-wrap {
	display: flex;
	justify-content: space-between;
}
.wb {
	width: 250px;
	height: 250px;
	margin: 40px 0;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.banner1 {
   background-color: #58dbd3;
   padding-left: 30px;
}
.banner1 h3 {
	font-size: 30px;
	color: #fff;
    font-family: 'HelveticaNeueBoldCondensed';
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;

}
.banner1 article {
	font-size: 22px;
	color: #fff;
    font-family: 'HelveticaNeueBoldCondensed';
    text-transform: uppercase;
 
}
.banner1 span {
  color: #12867f;
  font-size: 49px;
  font-family: 'HelveticaNeueBoldCondensed';
  font-weight: bolder;
  opacity: .80;
  margin-left: 30px;
}
.banner1 img {
	position: absolute;
	top: 5px;
	right: 0;
}
.banner2 h3 {
	font-size: 30px;
	color: #fff;
    font-family: 'HelveticaNeueBoldCondensed';
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 50px;

}
.banner2 {
	background-color: #e4ce9a;
   padding-left: 30px;
}
.banner2 img {
	position: absolute;
	bottom: 0;
	right: 0;
}
.banner2 span {
  color: #5e4c38;
  font-size: 49px;
  font-family: 'HelveticaNeueBoldCondensed';
  font-weight: bolder;
  margin-left:30px;
}
.banner3 {
   background-color: #ffa7ce;
   padding-left: 30px;
	
}
.banner3 img {
	position: absolute;
	bottom: 0;
	right: 0;
}
.banner3 span {
  color: #414049;
  font-size: 49px;
  font-family: 'HelveticaNeueBoldCondensed';
  font-weight: bolder;
  margin-left:30px;
}
.banner3 h3 {
	font-size: 30px;
	color: #fff;
    font-family: 'HelveticaNeueBoldCondensed';
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 5px;

}
.banner3 article {
	font-size: 22px;
	color: #fff;
    font-family: 'HelveticaNeueBoldCondensed';
    text-transform: uppercase;
 
}

.banner4 {
   background-color: #f2ca66;
   color: #fff;
	
}
.banner4 h3 {
	font-size: 105px;
	color: #fff;
    font-family: 'HelveticaNeueRegularCondensed';
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;


}
.banner4 p {
	font-size: 64px;
	font-family: 'HelveticaNeueBoldCondensed';
	font-weight: bolder;
	padding-left: 60px;
	margin: 0;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.banner4 span {
	background-color: #fff;
	color: #f2ca66;
	font-size: 26px;
	font-family: 'HelveticaNeueBoldCondensed';
	text-transform: uppercase;
	padding: 5px 20px;
	padding-right: 30px;

}
.category {
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.category-header {
	text-align: center;
	padding:70px 0;
}
.category-header h1 {
	font-size: 116px;
	color: #fff;
	font-family: 'Josefin Slab', serif;
	text-transform: uppercase;
}
.color-wrap2 {
 position: absolute;
 width: 100%;
 height: 100%;
 background-color: rgba(64, 6, 181, 0.36);
 z-index: 1;
}
.category-content {
	z-index: 2;
	position: relative;
}
.category-item {
	position: relative;
	display: flex;
	justify-content: space-between;
	
}
.category-item .item {
	margin-bottom: 100px;	
}
.category-item .item img:hover {
	border-bottom: 2px solid #ff808c;
}
.shop-products {
 position: relative;
}
.levis {
	position: absolute;
	left: 0;
	top: -16px;
	z-index: 3;
}
.s-main {
	display: flex;
	justify-content: space-between;
}
.s-main-head {
	margin-top: 200px;
}
.s-main-head h3 {
 	color: #1d1d1d;
 	font-size: 50px;
 	font-family: 'HelveticaNeueBoldCondensed';
 	white-space: nowrap;
}
.s-main-head p {
	color: #1d1d1d;
	font-family: 'HelveticaCyr-Upright';
	font-size: 14px;
	max-width: 550px;
	line-height: 1.4;
}
.s-main-head #price {
	color: #1d1d1d;
	font-family: 'HelveticaNeueBoldCondensed';
	font-size: 36px;
	white-space: nowrap;

}
.s-main-btn {
	display: flex;
	margin-top: 30px;
	justify-content: space-between;
}
.s-main-btn a {
   background-color: #d62132;
   padding: 5px 15px;
   color: #fff;
   font-size: 28px;
   font-family: 'HelveticaNeueRegularCondensed';
   text-decoration: none;
   white-space: nowrap;
}
.s-main-btn a:hover {
	background-color: #ff808c;
}
.s-main-img {
	margin-top: 70px;
}
.s-main-img img {
	max-width: 100%;
}
.shop-products-list {
 display: flex;
 justify-content: space-between;
  margin-top: 100px ;
  margin-bottom: 100px;
}
.shop-item {
 width: 180px;
 height: 175px;

}
.shop-item img {
	max-width: 100%;
	max-height: 100%;
	border: 1px solid #cacaca;
	cursor: pointer;
}
.name {
	text-align: center;
	color: #1d1d1d;
	font-size: 16px;
	font-family: 'HelveticaNeueRegularCondensed';
	margin-top: 10px;
}
.shop-item img:hover {
	border: 1px solid #ff808c;
}
.footer {
	background-color: #1b2330;
	border-bottom: 2px solid #626262;

}
.main-footer {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}
.cop p {
	margin-top: 10px;
	margin-bottom: 0;
	padding: 0;
	font-size: 16px;
	color: #fff;
}

.social i {
	color: #fff;
	font-size: 26px;
	padding-left: 30px;
	margin-top: 10px;
}