
@font-face {
  font-family: 'HelveticaNeueBoldCondensed';
  src: url('HelveticaNeueBoldCondensed.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueBoldCondensed.woff') format('woff'), url('HelveticaNeueBoldCondensed.ttf')  format('truetype'), url('HelveticaNeueBoldCondensed.svg#HelveticaNeueBoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
