
@font-face {
  font-family: 'HelveticaCyr-Upright';
  src: url('HelveticaCyr-Upright.eot?#iefix') format('embedded-opentype'),  url('HelveticaCyr-Upright.woff') format('woff'), url('HelveticaCyr-Upright.ttf')  format('truetype'), url('HelveticaCyr-Upright.svg#HelveticaCyr-Upright') format('svg');
  font-weight: normal;
  font-style: normal;
}
